<section class="hero container-fluid d-flex flex-column justify-content-center text-center text-light">
    <div id="hero-title" class="container">
        <h1 class="display-3 fw-bold">Tears of a Singing Sky</h1>
        <p class="lead">All was quiet on this side of Argyll... until the sky fell.</p>
    </div>
    <div class="container d-flex justify-content-center gap-2">
        <div class="btn btn-primary btn-lg mt-3" (click)="emit()">Start Adventure!</div>
        <!-- <div class="btn btn-secondary btn-lg mt-3">Player Vault</div> -->
    </div>

</section>