.hero {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('/toss-hero-1.jpg') no-repeat center center;
    background-size: cover;
}

#hero-title{
    margin-bottom: 2rem;
}